@import "~bootstrap/scss/bootstrap";

body {
    background-color: #eee;
}

a {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.rotate-180 {
    transform: rotate(180deg);
}

.navbar {
    height: 100vh;
    width: 250px;
    align-items: flex-start;
    background-color: #fff;
}

.container {
    flex-direction: column;
    align-items: flex-start;

    .navbar-collapse {
        flex-direction: column;
        width: 100%;

        .navbar-nav {
            flex-direction: column;
            width: 100%;

            .nav-itam.dropdown {
                width: 100%;

                .dropdown-menu {
                    width: 100%;
                    position: static;
                    border: none;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}

main {
    height: 100vh;
    width: calc(100% - 300px);
    overflow-y: auto;
}

.action-cell {
    display: flex;
    justify-content: flex-start;
    text-align: right;
    gap: 0 10px;
}

.btn-icon {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

.title {
    color: #198754;
}
